@import url('https://fonts.googleapis.com/css?family=Poller+One');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');


/* GLOBAL ////////////////////////////////////////*/
* {
    box-sizing: border-box;
}

/* .debug {
    border: 1px solid red;
} */

/* nav bar */
/* .nav {
    display: flex;
    text-align: center;
    margin: 10px;
} */

.flexContainer1 > li.active > a {
    background: #555;
    color: #fff;
    padding: 5px;
}

.flexContainer1 {
    display: flex;
    /* flex: 1; */
    /* background: #fff; */
    align-items: center;
    justify-content: center;
}

.flexContainer1 > li {
    /* flex: 1; */
    text-align: center;  
    margin: 0 15px;
} 

.flexContainer1 > li > a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #555;
}

.nav > ul {
    list-style-type: none;
    margin: 10px;
    padding: 5px;
}

/* dropdown menu */
.dropdown {
    /* float: left; */
    overflow: hidden;
}
  
.dropdown .dropbtn {  
    border: none;
    outline: none;
    color: #555;
    /* padding: 14px 16px; */
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #555;
}
  
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {
    background-color: #ddd;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

@media all and (max-width: 600px) {
  
    .flexContainer1 {
        flex-wrap: wrap;
    }
        
    .flexContainer1 > li {
        flex-basis: 50%;
        margin:5px;
    }
}

@media all and (max-width: 400px) {
    .flexContainer1 > li {
        flex-basis: 100%;
    }
}

/*home page /////////////////////////////////////////*/
.header1 {
    display: flex;
    /* background: url("/img/header_background1.jpg");
    background-size: cover;
    border: 1px solid #555;   */
    /* border-radius: 50%; */
    background: rgba(0, 0, 0, 0.2);
    /* margin: 50px 250px 0 250px; */
    /* margin: 50px 400px 0 400px; */
    /* border: 1px solid #555; */
    /* padding: 20px; */
    margin-top: 80px;
}

.header1 > h1 {
    flex: 1;
    text-align: center;
    font-family: 'Poller One', cursive;
    font-size: 80px;
    color: #555;
    /* text-shadow: 0 0 5px #fff; */
}

.homeButton {
    text-align: center;
    align-items: center;
    color: #555;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    background: #fff;
    box-shadow: 2px 2px 5px #000;
    border: none;
    border-radius: 12px;  
}

.homeButton:hover {
    text-align: center;
    align-items: center;
    color: #fff;
    background: #555;
    padding: 5px;
    cursor: pointer;
}

/* @media all and (max-width: 1024px) {
    .header1 {
        margin: 120px 200px 0 200px;
    }
}

@media all and (max-width: 900px) {
    .header1 {
        margin: 120px 50px 0 50px;
    }
}

@media all and (max-width: 768px) {
    .header1 {
        margin: 120px 50px 0 50px;
    }
} */

@media all and (max-width: 600px) {
    .header1 {
        margin: 10px;
    }
}

#homeBody {
    background-image: url('/img/home_background3.jpg');
    /* background-size: cover; */
    background-position: center; 
    background-repeat: no-repeat;
}


/* SHOP PAGE ///////////////////////////////////////*/
.header2 {
    display: flex;
    background: url("/img/header_background1.jpg");
    background-size: cover;  
    /* border-radius: 50%; */
    margin: 20px 250px 0 250px;
    border: 3px groove #555;
}

.header2 > h1 {
    flex: 1;
    text-align: center;
    font-family: 'Poller One', cursive;
    font-size: 50px;
    color: #555;
    /* text-shadow: 0 0 1px #000; */
}


/* book card///////////////////////////////*/
.flexContainer2 {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    /* margin: 20px 150px; */
}


@media all and (max-width: 600px) {
    .flexContainer2 {
        flex-wrap: wrap;
        margin-top: 20px;
    }
    .header2 {
        margin: 0px;
    }    
}

.container {
    position: relative;
    margin: 20px auto;
    display: flex;
}
  
.image {
    opacity: 1;
    display: block;
    max-width: 120px;
    height: 180px;
    transition: .5s ease;
    backface-visibility: hidden;
    /* border: 1px solid #555; */
    box-shadow: 5px 5px 5px #555;
}
  
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.middle a {
    text-decoration: none;
}
  
.container:hover .image {
    opacity: 0.3;
}
  
.container:hover .middle {
    opacity: 1;
}
  
.text {
    background-color: #555;
    color: white;
    font-size: 14px;
    padding: 5px 30px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}


/* filterbar ///////////////////////////////////////*/

.filterBar {
    display: flex;
    text-align: center;
    margin: 10px;
}

.filterTab {
    flex: 1;
    margin: 5px;
}

.tablinks {
    color: #555;
    font-size: 14px;
    font-weight: bold;
    border: none;
    background: #fff;
    padding: 5px;
}

.tablinks:hover {
    color: #555;
    font-size: 14px;
    cursor: pointer;
    /* border: 1px solid #000; */
    background: #555;
    color: #fff;
}


.filterTab button.active {
    background-color: #555;
    color: #fff;
}

/* Book INFO PAGE ///////////////////////////////////////*/

.bookInfo {
    display: flex;
    margin: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.image1 {
    max-width: 250px;
    height: 350px;
}

.flexContainer3 {
    flex: 1;
    margin-left: 10px;
    max-width: 450px;
    border: 5px solid #555;

}

.flexContainer3 p {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    color: #555;
    margin-left: 10px;
}

.backButton {
    padding: 5px;
    background: #555;
    color: #fff;
    border: none;
    font-size: 16px;
    margin-left: 180px;
    cursor: pointer;
}

.backButton:hover {
    background: #fff;
    color: #555;
    border:2px solid #555;
}

@media all and (max-width: 600px) {
    .backButton {
        margin-left: 120px;
    }    
    .flexContainer3 {
        margin-left: 0px;
        margin-top: 10px;
    }
}



/* CONTACT PAGE ///////////////////////////////////////*/
.header3 {
    display: flex;
    background: url("/img/header_background1.jpg");
    background-size: cover;  
    /* border-radius: 50%; */
    margin: 100px 250px 0 250px;
    border: 1px solid #555;
}

.header3 > h1 {
    flex: 1;
    text-align: center;
    font-family: 'Poller One', cursive;
    font-size: 50px;
    color: #555;
    /* text-shadow: 0 0 1px #000; */
}

.header3 > h1 > a {
    flex: 1;
    text-align: center;
    font-family: 'Poller One', cursive;
    font-size: 30px;
    font-weight: bold;
    background: #fff;
    padding: 5px;
    border: 1px solid #555;
    border-radius: 12px;
    color: #555;
    text-decoration: none;
    /* font-family: Arial, Helvetica, sans-serif; */
}

.header3 > h1 > a:hover {
    background: #555;
    border: 1px solid #fff;
    color: #fff;
}


@media all and (max-width: 768px) {
    .header3 {
        margin: 120px 0px;
    }
}

@media all and (max-width: 600px) {
    .header3 {
        margin: 0;
    }
}

@media all and (max-width: 400px) {
    .header3 {
        margin: 0;
    }
}
